{% import 'macros/form.html' as form %}

<form id="resource-edit" class="dataset-form dataset-resource-form form-horizontal" method="post" action="{{ action }}" data-module="basic-form resource-form" enctype="multipart/form-data">

<input name="id" value="{{ data.id }}" type="hidden"/>
	{{ h.ssbRetriever_test() }}

	{% block query_form %}
  	{{ form.input('ssb_url', label=_('SSB URL'), id='field_ssb_url', placeholder=_('Enter SSB Table URL Here'), value=data.ssb_url, 		error=errors.ssb_url, classes=['control-medium'])}}

  	{{ form.input('ssb_query', label=_('SSB Query'), id='field_ssb_query', placeholder=_('Enter Query Here'), type=url, value=data.ssb_query, error=errors.ssb_query, classes=['control-medium']) }} 
	{% endblock %}

	{{ h.ssbRetriever_show_query() }}

{% block basic_fields %}
	{% block basic_fields_name %}
      		{{ form.input('name', id='field-name', label=_('Name'), placeholder=_('eg. January 2011 Gold Prices'), value=data.name, error=errors.name,
		classes=['control-full']) }}
    	{% endblock %}

    	{% block basic_fields_description %}
      		{{ form.markdown('description', id='field-description', label=_('Description'), placeholder=_('Some useful notes about the data'), 			value=data.description, error=errors.description) }}
    	{% endblock %}

    	{% block basic_fields_format %}
      		{% set format_attrs = {'data-module': 'autocomplete', 'data-module-source': '/api/2/util/resource/format_autocomplete?incomplete=?'} %}
      		{% call form.input('format', id='field-format', label=_('Format'), placeholder=_('eg. CSV, XML or JSON'), value=data.format, 			error=errors.format, classes=['control-medium'], attrs=format_attrs) %}
        		<span class="info-block info-block-small">
          			<i class="icon-info-sign"></i>
          			{{ _('This will be guessed automatically. Leave blank if you wish') }}
        		</span>
      		{% endcall %}
    	{% endblock %}
{% endblock basic_fields %}

  <div class="form-actions">
      	{% block add_button %}
      		<button class="btn btn-primary" name="save" value="go-dataset-complete" type="submit" >{{ _('Add') }}</button>
      	{% endblock %}
	{{ form.required_message() }}
  </div>
</form>
